pyserial
ollama
pyaudio
numpy
SpeechRecognition
vosk
piper-tts
appdirs
opencv-python
psutil
requests
chromadb
sentence-transformers
fastapi
uvicorn[standard]
Adafruit-Blinka==9.1.0
adafruit-blinka-displayio==2.3.2
adafruit-circuitpython-bitmap_font==2.4.2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-display_button==1.11.8
adafruit-circuitpython-display_shapes==2.10.6
adafruit-circuitpython-display-text==5.0.4
adafruit-circuitpython-ili9341==2.0.4
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-rgb-display==3.14.5
adafruit-circuitpython-ticks==1.1.7
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
xpt2046_circuitpython==1.0.3
